/* Section 1 */

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero_section {
  animation: 3.5s ease-out 0s 1 fadeInAnimation;
  margin: 10.47vh 11.8vw 0 11.8vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main_title {
  margin: 9.93vh 0 2.73vh 0;
}

.hero_p {
  color: #6b708d;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin: 0 0 3.64vh 0;
}

.tertiary_button {
  color: #6b708d;
  font-size: 1.063rem;
  font-weight: 500;
  border: none;
  background: none;
}

.p_buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2.78vw;
  width: 35vw;
}

#tertiary_hero_button {
  width: 7.2vw;
  height: 2.01vh;
  line-height: 2vh;
  padding: 0;
}

.hero_div {
  flex: 0 1 36.8vw;
}

.hero_grid {
  flex: 0 1 39.58vw;
  background-image: url("../assets//hero-section//hero-image.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: end;
}

.hero_grid img {
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  width: 100%;
}

.hero_grid_1 {
  grid-area: 1 / 1 / 2 / 2;
  height: 90%;
}

.hero_grid_3 {
  grid-area: 3 / 3 / 4 / 4;
}

/* Section 2 */

/* @keyframes slideInFromRight {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
} */

.clients_section {
  /* animation: 1s ease-out 0s 1 slideInFromRight; */
  margin: 10.47vh 11.81vw 0 11.81vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.clients_section img {
  filter: grayscale(100%);
}

/* Section 4 */

.testimonials_section {
  margin: 18.21vh 4.1vw 0 4.1vw;
}

.memoji {
  width: 10.45vw;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.testimonials_grid_1 {
  background-color: #292e47;
  grid-area: 1 / 1 / 4 / 4;
}

.orbit {
  max-height: 100%;
  max-width: 100%;
}

.testimonials_grid_2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  grid-area: 1 / 1 / 2 / 2;
}

.testimonials_grid_3 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  grid-area: 1 / 2 / 2 / 3;
}

.testimonials_grid_3 h3 {
  color: #f4f6fc;
  font-weight: 700;
  font-size: 2.5rem;
}

.testimonials_grid_4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  grid-area: 1 / 3 / 2 / 4;
}

.testimonials_grid_5 {
  grid-area: 2 / 1 / 3 / 2;
}

.testimonials_grid_6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: 2 / 2 / 3 / 3;
}

.testimonials_grid_6 div {
  font-size: 1.5rem;
  font-style: normal;
  line-height: 1.6;
  font-weight: 500;
  color: #ffc600;
  text-align: center;
}

.testimonials_grid_7 {
  grid-area: 2 / 3 / 3 / 4;
}

.testimonials_grid_8 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  grid-area: 3 / 1 / 4 / 2;
}
.testimonials_grid_9 {
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  line-height: 1.5;
  gap: 1.3vw;
  justify-content: center;
  align-items: stretch;
  grid-area: 3 / 2 / 4 / 3;
}

.testimonial_img {
  overflow: hidden;
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.testimonial_name {
  color: #a2d6f9;
  font-weight: 400;
  font-size: 1.063rem;
}

.testimonial_company {
  color: #f4f6fc;
  font-weight: 400;
  font-size: 0.813rem;
}

.testimonials_grid_10 {
  display: flex;
  grid-area: 3 / 3 / 4 / 4;
  align-items: flex-start;
  justify-content: flex-start;
}

/* Section 5 */

.icon_wrapper {
  margin: 2.73vh 0 0 2.08vw;
  width: 5.56vw;
  height: 7.29vh;
  background-color: #ecf7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.icon {
  width: 2.78vw;
  height: 3.64vh;
}
