@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 6.38% 0 6.38% 0;
  background-color: #E5E5E5;
}

/* Nav bar styles */

.nav_bar {
  margin: 0 11.81% 0 11.81%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav ul li {
  padding: 0 20.49% 0 20.49%;
  font-size: 1.063rem;
}

nav ul li a:link {
  color: #6b708d;
  text-decoration: none;
}

nav ul li a:visited {
  color: #6b708d;
  text-decoration: none;
}

nav ul li a:active {
  color: #072ac8;
  text-decoration: none;
}

nav ul li a:hover {
  color: #072ac8;
  text-decoration: none;
}

.primary_button {
  font-size: 1.063rem;
  background-color: #072ac8;
  color: white;
  border: none;
  padding: 0.938rem 1.875rem;
}

/* Section 1 */

.hero_section {
  margin: 10.47% 11.81% 0 11.81%;
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 3.75rem;
  font-weight: 700;
  color: #292e47;
}

.main_title {
  margin: 16.76% 0 4.62% 0;
}

.hero_p {
  color: #6b708d;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin: 0 0 6.15% 0;
}

.tertiary_button {
  color: #6b708d;
  font-size: 1.063rem;
  border: none;
  background: none;
}

.p_buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 35vw;
}

#blue_hero_button {
  padding: 0.938rem 2.313rem !important;
}

#tertiary_hero_button {
  width: 30%;
  font-weight: 500;
}

.hero_div {
  flex: 0 1 50%;
}

.hero_grid {
  background-image: url("../assets//hero-section//hero-image.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: end;
}

.hero_grid img {
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  width: 100%;
}

.hero_grid_1 {
  grid-area: 1 / 1 / 2 / 2;
  height: 90%;
}

.hero_grid_3 {
  grid-area: 3 / 3 / 4 / 4;
}

/* Section 2 */

.clients_section {
  margin: 11.47% 11.81% 19.96% 11.81%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.clients_section img {
  filter: grayscale(100%);
}

/* Section 3 */

.projects_section {
  display: flex;
  flex-direction: column;
  margin: 0 11.81vw 0 11.81vw;
}

.projects_section h2 {
  font-weight: 700;
  margin: 0 0 6.38vh 0;
  font-size: 2.5rem;
  color: #292E47;
}

.cards_wrapper {
  width: 76.38vw;
  height: 99,74vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3.63%;
}

.card {
  background-color: #FFFF;
  display: flex;
  flex: 1 1 0px;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.project_banner {
  object-fit: cover;
  max-width: 100%;
  aspect-ratio: 1.416;
}

.card_details {
  margin: 10% 0 0 10%;
  display: flex;
  flex-direction: column;
}

.card_title {
  font-size: 1.5rem;
  font-weight: 500;
}

.card_description {
  font-size: 1.063rem;
  font-weight: 400;
  color: #6b708d;
}

.seconday_button{
  border: none;
  background: none;
  font-size: 1.063rem;
  font-weight: 400;
  color: #072ac8;
  align-self:flex-start;
  margin: 10% 0 10% 0;
  padding: 0;
}

/* Section 4 */

.testimonials_section {
  margin: 18.2vh 4.1vw 0 4.1vw;
}

.memoji {
  width: 10.45vw;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
.testimonials_grid_1 {
  padding:4.64vh 5vw 6.64vh 4.3vw;
  background-color: #292E47;
  grid-area: 1 / 1 / 4 / 4; 
}

.orbit {
  max-height:100%;
  max-width:100%
}

.testimonials_grid_2 { 
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1 / 1 / 2 / 2; 
}

.testimonials_grid_3 { 
  display: flex;
  justify-content: center;
  align-items: flex-end;
  grid-area: 1 / 2 / 2 / 3; 
}

.testimonials_grid_3 h3 {
  color: #F4F6FC;
  font-weight: 700;
  font-size: 2.5rem;
}

.testimonials_grid_4 { 
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1 / 3 / 2 / 4; 
}

.testimonials_grid_5 { grid-area: 2 / 1 / 3 / 2; }

.testimonials_grid_6 { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: 2 / 2 / 3 / 3; 
}

.testimonials_grid_6 p {
  font-size: 1.5rem;
  font-style: normal;
  line-height: 1.6;
  font-weight: 500;
  color: #FFC600;
  text-align: center;
}

.testimonials_grid_7 { grid-area: 2 / 3 / 3 / 4; }

.testimonials_grid_8 { 
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 3 / 1 / 4 / 2; 
}
.testimonials_grid_9 { 
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  line-height: 1.5;
  gap: 1.3vw;
  justify-content: center;
  align-items: stretch;
  grid-area: 3 / 2 / 4 / 3; 
}

.testimonial_img {
  /* position: relative; */
  overflow: hidden;
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.testimonial_name {
  color: #a2d6f9;
  font-weight: 400;
  font-size: 1.063rem;
}

.testimonial_company {
  color: #F4F6FC;
  font-weight: 400;
  font-size: 0.813rem;
}

.testimonials_grid_10 { 
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 3 / 3 / 4 / 4; 
}